.about-banner {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;

	h1 {
		@media all and (min-width:1200px) {
			width: 60%;
		}
	}

	p {
		margin: 16px 0 40px;

		@media all and (min-width:1200px) {
			width: 40%;
		}
	}

	@media all and (max-width:991px) {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}

.about-content {
	padding-top: 90px;
	padding-bottom: 90px;

	.col-6 {
		&:first-of-type {
			@media all and (min-width:1200px) {
				padding-right: 7%;
			}
		}

		&:last-of-type {
			@media all and (min-width:1200px) {
				padding-left: 7%;
			}
		}
	}

	h2 {
		margin-bottom: 40px;
	}

	a {
		margin-top: 40px;
	}
}

.about-path {
	background: $color-grey;
	padding: 90px 0;

	h2 {
		margin-bottom: 50px;
	}

	.blk {
		margin-bottom: 24px;

		div:first-child {
			width: 70px;
			flex: 0 0 70px;
		}
	}
}

.about-people {
	padding: 90px 0;

	.row {
		margin-top: 60px;
	}

	.col-12 {
		margin-bottom: 24px;
	}

	.col-4 {
		margin-bottom: 20px;
	}

	.item {
		background: $color-grey;
		padding: 40px;
		text-align: center;
		transition: .3s;

		&:hover {
			box-shadow: 0 0 10px #c4c4c4;
		}
	}

	img {
		width: 188px;
		height: 188px;
		border-radius: 50%;
		margin: 0 auto 16px;
	}

	h4 {
		margin-bottom: 4px;
		color: $color-secondary;

		& + p {
			margin-bottom: 24px;
		}
	}
}

.about-contact {
	background: $color-grey;

	input, textarea {
		background: transparent;
	}

	.multi-checkbox {
		font-weight: 500;
		margin-bottom: 24px;
	}

	.wpcf7-checkbox {
		display: grid;
		grid-template-columns: repeat( 2, 1fr );

		&.callback {
			color: $color-secondary;
			margin-top: -85px;
			margin-bottom: 25px;

			input {
				border: 1px solid $color-secondary;
			}
		}

		.wpcf7-list-item {
			margin-left: 0;

			span {
				font-weight: 300;
			}
		}

		label {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 14px;
			justify-content: flex-start;
			align-items: center;

			input {
				margin-bottom: 1px;
				margin-right: 14px;
			}
		}
	}
}

.contact-banner {
	padding: 15% 0 10%;

	@media all and (max-width:991px) {
		padding: 40% 0 20%;
	}
}