.insights {
	padding: 90px 0;

	h2 {
		margin-bottom: 24px;
	}

	.entry-content {
		background: $color-grey;
		padding: 0 20px 20px;
	}

	.col-12 {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	article {
		@media all and (max-width:991px) {
			margin-bottom: 10px;
		}
		&:hover {
			h3 {
				color: $color-secondary;
			}
		}
	}

	h3 {
		@include set-line( 3, 20 );
		color: #000;
		transition: .3s;
	}
}

.service-content {
	background: $color-grey;
	padding: 60px 0;

	h2 + p {
		margin-bottom: 40px;
	}
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
	padding-top: 16px;

	a {
		margin-bottom: 4px;
		color: #888;
		margin-right: 15px;
	}
}

.page-template-service {
	.about-contact {
		background: #fff;
	}

	.gem-path {
		padding-top: 90px;
		padding-bottom: 90px;
		position: relative;

		@media all and (max-width:991px) {
			padding-bottom: 45px;
		}

		.splide__slide {
			border: 1px solid transparent;
			padding-top: 50px;
			padding-bottom: 50px;
			cursor: pointer;
			position: relative;

			&:before {
				content: '';
				display: none;
				position: absolute;
				top: -1px;
				left: -1px;
				width: calc( 100% + 2px );
				height: calc( 100% + 2px );
				background: linear-gradient(104.3deg, #0CE2FF 10.72%, #0094FF 76.1%);
				z-index: 0;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #F2F2F2;
				z-index: 1;
			}

			h4, img {
				position: inherit;
				z-index: 2;
			}

			&:hover {
				color: $color-secondary;

				&:before {
					display: block;
				}
			}
		}

		h4 {
			@media all and (max-width:991px) {
				font-size: 13px;
			}
		}

		h2 + p {
			margin: 16px auto 60px;
		}

		img {
			width: auto;
			height: 70px;
			margin: 0 auto 16px;

			@media all and (max-width:991px) {
				height: 35px;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 18px;
			bottom: 0;
			left: 10px;
			border: 3px solid $color-secondary;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -7px;
			right: 10px;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 20px solid $color-secondary;
		}
	}
}

.tab-navs {
	@media all and (max-width:991px) {
		margin: 0;
	}

	.col-3 {
		@media all and (max-width:991px) {
			flex: 0 0 25%;
			max-width: 25%;
			padding: 0;
		}
	}

	img {
		margin: 0 auto 24px;
		width: 70px;

		@media all and (max-width:991px) {
			margin: 10px auto;
			width: 35px;
		}
	}
}

.tab-link {
	transition: .3s;
	display: block;
	text-align: center;
	background: #fff;
	position: relative;
	padding: 60px 30px;
	cursor: pointer;
	border: 1px solid transparent;

	@media all and (max-width:1400px) {
		padding: 40px 20px;
	}

	@media all and (max-width:991px) {
		padding: 5px;
	}

	&:hover, &.active {
		box-shadow: 0 0 4px 4px rgba( 0,0,0,.1 );
		border: 1px solid $color-secondary;

		&:after {
			background: #fff;
			border-right: 1px solid $color-secondary;
			border-bottom: 1px solid $color-secondary;
		}

		span {
			z-index: 3;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;

		@media all and (max-width:991px) {
			width: 15px;
			height: 15px;
			bottom: -9px;
		}
	}

	span {
		@media all and (max-width:991px) {
			font-size: 11px;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			background: #fff;
		}
	}
}

.tab-content {
	background: #fff;
	margin-top: 20px;
	padding: 60px;
	display: none;

	@media all and (max-width:991px) {
		padding: 20px;
	}

	&.active {
		display: block;
	}

	.col-6 {
		@media all and (min-width:1200px) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	h4 {
		@media all and (min-width:1200px) {
			height: 60px;
			margin-bottom: 16px;
		}
	}

	ul {
		margin: 14px 0;

		@media all and (max-width:991px) {
			padding-left: 15px;
		}

		li {
			margin: 4px 0;
			list-style: url( images/arrow-right-cyan.svg );
		}
	}

	.img {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media all and (max-width:991px) {
			flex-direction: column;
		}
	}

	img {
		width: 200px;

		& + img {
			width: 290px;
		}
	}
}

.blog-banner {
	padding: 14% 0;

	@media all and (max-width:991px) {
		padding: 75% 0;
	}

	.h2 {
		margin-bottom: 8px;
	}
}