.career-banner {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		text-align: center;
	}

	p {
		margin: 16px 0 40px;
	}
}

.career-posts {
	padding: 90px 0;

	h2 {
		text-align: center;

		& + p {
			text-align: center;
			margin: 16px auto 40px;

			@media all and (min-width:1200px) {
				width: 70%;
			}
		}
	}

	article {
		@extend %button-dark;
		padding: 30px;
		margin-bottom: 20px;

		a {
			color: #fff;
		}

		h3 {
			@include set-line( 2, 30 );
		}

		.entry-icon {
			display: flex;
			justify-content: flex-end;
			margin-top: 30px;
		}

		img {
			max-width: 62px;
			max-height: 60px;
			object-fit: contain;
		}
	}
}

.career-people {
	padding: 60px 0;
	background: $color-grey;

	.row {
		&:nth-of-type( 2n ) {
			flex-direction: row-reverse;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		padding: 20px 10px;
		justify-content: center;

		@media all and (min-width:1200px) {
			padding: 0 75px;
		}
	}

	h4 {
		color: #888;
		margin: 24px 0 40px;
	}

	a {
		margin-top: 24px;

		img {
			margin-left: 12px;
		}

		&:hover {
			img {
				animation: ltr-2 1s infinite;
			}
		}
	}
}

.single-career-banner {
	padding-top: 25%;
	padding-bottom: 50px;

	span {
		margin-left: 12px;
		margin-right: 40px;
		font-weight: 300;
	}
}

.single-career-content {
	padding: 60px 0;

	.col-4 {
		@media all and (min-width:1200px) {
			padding-left: 200px;
		}
	}

	.col-8 {
		margin-bottom: 28px;
	}

	.col-12 {
		display: flex;
		justify-content: center;
		margin-top: 45px;
	}
}