.site-footer {
	background: linear-gradient(145.06deg, #203B9B 16.87%, #0F1550 67.68%);
	padding-bottom: 21px;
}

.gem-submit {
	justify-content: flex-start !important;
	padding-bottom: 0 !important;
	padding-top: 12px;
	border-bottom: 0 !important;

	input {
		position: absolute;
		opacity: 0;
	}
}

.newsletter {
	padding-top: 60px;

	form {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		& > p:first-of-type {
			width: 66%;

			@media all and (max-width:991px) {
				width: 100%;
			}
		}

		@media all and (max-width:991px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	label {
		display: flex;
		height: 100%;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
		padding-bottom: 8px;
		font-size: 20px;

		@media all and (max-width:991px) {
			font-size: 13px;
		}
	}

	.wpcf7-form-control-wrap {
		width: 50%;
	}

	input[type=email] {
		font-size: 16px;
		background: transparent;
		width: 100%;
		height: 100%;
		border: 0;
		color: #ffffff;
	}
}

.footer-widget {
	margin-top: 60px;
	color: #fff;

	.logo {
		display: block;
		width: 210px;
		margin-bottom: 40px;
		filter: brightness(0) invert(1);
	}

	.social {
		display: flex;
		margin-top: 44px;

		a {
			width: 24px;
			height: 24px;
			margin-left: 15px;
		}
	}

	.textwidget p {
		@media all and (max-width:991px) {
			line-height: 3;
		}
	}

	.newsletter p {
		@media all and (max-width:991px) {
			line-height: 2;
			margin: 5px 0;
		}
	}

	.widget_nav_menu {
		margin-top: 10%;

		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				flex: 0 0 33.3333%;
				list-style: none;
				margin-bottom: 40px;
			}

			a {
				color: #ffffff;
				font-weight: 500;
			}
		}
	}
}