.site-header {
	padding: 20px 0;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;

	@media all and (max-width:991px) {
		padding: 15px 0;
	}

	&.hidden {
		display: none;
	}

	&.fixed, &.sticky {
		background: #fff;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

		.breadcrumbs {
			color: #000;

			a {
				color: #000;
			}
		}

		.logo {
			filter: none;
		}

		#nav-control span {
			background: #000;
		}

		#search-control {
			svg {
				fill: #000;
			}
		}

		.trp-language-switcher > div {
			background-image: url(images/arrow-down-black.svg);

			> a {
				color: #000000;
			}
		}
	}

	.logo {
		display: block;
		width: 120px;
		filter: brightness(0) invert(1);

		@media all and (max-width:991px) {
			margin-left: 100px;
		}
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.page-header {
	margin-top: 150px;
}

#nav-control {
	width: 36px;
	height: 35px;
	position: fixed;
	top: 30px;
	left: 20px;
	z-index: 20;
	cursor: pointer;

	& + div {
		display: none;
	}

	span {
		transition-duration: .4s;
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		border-radius: 999px;
		background: #fff;
		left: 0;
		top: 0;

		&:nth-child(2) {
			top: 7px;
		}

		&:last-child {
			top: 14px;
		}
	}

	&.active {
		span {
			transform: rotate(135deg) translateX(10px);

			&:nth-child(2) {
				opacity: 0;
				left: -60px;
			}

			&:last-child {
				transform: rotate(-135deg) translateX(10px);
			}
		}
	}
}

.nav-cta {
	display: flex;
	align-items: center;
}

#search-control {
	margin-left: 60px;

	@media all and (max-width:991px) {
		margin-left: 15px;
	}
}

.trp-language-switcher {
	> div {
		background-color: transparent;
		background-image: url( images/arrow-down.svg );
		background-size: 10px 5px;
		background-position: 35px 13px;
		background-repeat: no-repeat;
		border: 0;

		> a {
			color: #ffffff;
			font-weight: 500;
			padding: 2px 2px 0 6px;
			cursor: pointer !important;

			&:hover {
				background: $color-secondary;
			}
		}
	}
}

#progress-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	--scroll: 0%;
	background: linear-gradient( to right, $cyan var(--scroll), transparent 0 );
}

.main-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	z-index: 4;
	transform: translateY(10%);
	visibility: hidden;
	transition: .3s;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

	&.active {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	li {
		list-style: none;
		display: inline-flex;
		align-items: center;

		&:hover {
			img {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&.active {
			a {
				color: $color-secondary;
			}

			img {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	a {
		transition: .3s;
		cursor: pointer;

		&:hover {
			color: $color-secondary;
		}
	}

	img {
		width: 16px;
		height: 16px;
		transition: .3s;
		opacity: 0;
		transform: translateX(-30%);
	}
}

.menu-parent {
	background: $color-main;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;

	@media all and (max-width:991px) {
		height: 100vh;
	}

	ul {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	li {
		padding: 15px 0;
		width: 17%;
		justify-content: space-between;

		@media all and (max-width:991px) {
			width: 100%;
		}
	}

	a {
		font-weight: 500;
		color: #fff;
		font-size: 20px;
		height: 100%;
		width: 100%;

		@media all and (max-width:1600px) {
			font-size: 18px;
		}
	}
}

.back {
	text-decoration: underline;
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);

	@media all and (min-width:1200px) {
		display: none;
	}
}

.menu-children {
	position: absolute;
	width: 68%;
	left: 32%;
	top: 0;
	padding: 30px 7%;
	height: 100%;
	background: $color-grey;
	z-index: 4;
	opacity: 0;
	transform: translateX(30%);
	transition: .5s;
	visibility: hidden;

	@media all and (max-width:1600px) {
		padding: 30px 5%;
	}

	@media all and (max-width:991px) {
		width: 100%;
		left: 0;
	}

	&.active {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}

	h3 {
		padding-bottom: 24px;
		border-bottom: 1px solid #000;
	}

	ul {
		margin-top: 40px;
		flex-wrap: wrap;

		&:not(:last-of-type) {
			li {
				&:first-child {
					flex: 0 0 20%;
				}

				margin-right: 40px;

				@media all and (max-width:991px) {
					flex: 0 0 50%;
					margin-right: 0;
				}
			}
		}

		&:last-of-type {
			justify-content: space-between;
			padding-top: 40px;
			border-top: 1px solid #000;
		}
	}

	li {
		&:first-child, &.special {
			@media all and (max-width:991px) {
				flex: 0 0 100% !important;
			}
		}

		&.special {
			@media all and (max-width:991px) {
				margin-bottom: 30px;
			}
		}

		img {
			margin-left: 8px;
		}
	}

	a {
		color: #000;
	}
}

.menu-second {
	ul {
		&:last-of-type {
			border-top: 0;
			margin-top: 0;
			padding-top: 30px;
			justify-content: space-between;

			@media all and (max-width:1600px) {
				padding-top: 20px;
			}

			li {
				width: 45%;
				flex: 0 0 45%;
			}

			a {
				height: 48px;

				& + p {
					margin-top: 16px;
					@include set-line( 3, 16 );

					@media all and (max-width:1600px) {
						margin-top: 8px;
					}
				}
			}
		}

		& + p {
			display: block;
			width: 100%;
			padding-top: 40px;
			margin-top: 40px;
			border-top: 1px solid #000;
		}
	}
}

#menu-case-studies {
	ul {
		&:first-of-type {
			flex-wrap: wrap;
			margin-top: 0;

			li {
				min-width: 175px;
				margin-right: 20px;
				margin-top: 40px;

				@media all and (max-width:991px) {
					margin-top: 30px;
				}
			}

			a {
				white-space: nowrap;
			}
		}
	}
}

#menu-event,
#menu-resource-center {
	ul {
		&:last-of-type {
			li {
				flex-direction: column;
				width: 45%;
				align-items: flex-start;
			}
		}
	}

	li {
		@media all and (max-width:991px) {
			margin-bottom: 30px;
		}
	}
}

#header-bg {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: none;

	&.active {
		display: block;
	}
}