.site-header {
	padding-top: 30px;
	padding-bottom: 30px;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;

	&.fixed, &.sticky {
		background: #fff;

		.logo {
			filter: none;
		}

		#nav-control, #search-control {
			svg {
				fill: #000;
			}
		}

		.trp-language-switcher > div {
			background-image: url(images/arrow-down-black.svg);

			> a {
				color: #000000;
			}
		}
	}

	.logo {
		display: block;
		width: 120px;
		filter: brightness(0) invert(1);
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

#nav-control {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;

	& + div {
		display: none;
	}

	.rect {
		transition-duration: .4s;
	}

	&:hover {
		.rect-2,
		.rect-3 {
			width: 35px;
		}
	}

	

	.rect-4, .rect-5 {
		opacity: 0;
		transform-origin: center;
		// transition-delay: .4s;
	}

	&.active {
		.rect-1 {
			transform: translateY(10px);
			opacity: 0;
		}

		.rect-2 {
			opacity: 0;
		}

		.rect-3 {
			transform: translateY(-10px);
			opacity: 0;
		}

		.rect-4 {
			transform: rotate(35deg);
			opacity: 1;
		}
	
		.rect-5 {
			transform: rotate(-35deg);
			opacity: 1;
		}
	}
}

.nav-cta {
	display: flex;
	align-items: center;
}

#search-control {
	margin-left: 60px;
}

.trp-language-switcher {
	> div {
		background-color: transparent;
		background-image: url( images/arrow-down.svg );
		background-size: 10px 5px;
		background-position: 35px 13px;
		border: 0;

		> a {
			color: #ffffff;
			font-weight: 500;
			padding: 2px 2px 0 6px;
			cursor: pointer !important;

			&:hover {
				background: $color-secondary;
			}
		}
	}
}

#progress-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	--scroll: 0%;
	background: linear-gradient( to right, $cyan var(--scroll), transparent 0 );
}

.main-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	transform: translateY(10%);
	visibility: hidden;
	transition: .3s;

	&.active {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	li {
		list-style: none;
		display: inline-flex;
		align-items: center;

		&:hover {
			img {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&.active {
			a {
				color: $color-secondary;
			}

			img {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	a {
		transition: .3s;
		cursor: pointer;

		&:hover {
			color: $color-secondary;
		}
	}

	img {
		width: 16px;
		height: 16px;
		transition: .3s;
		opacity: 0;
		transform: translateX(-30%);
	}
}

.menu-parent {
	background: $color-main;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;

	ul {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	li {
		padding: 15px 0;
		width: 17%;
		justify-content: space-between;
	}

	a {
		font-weight: 500;
		color: #fff;
		font-size: 20px;
	}
}

.menu-children {
	position: absolute;
	width: 68%;
	left: 32%;
	top: 0;
	padding: 30px 7%;
	height: 100%;
	background: $color-grey;
	z-index: 4;
	opacity: 0;
	transform: translateX(30%);
	transition: .3s;
	visibility: hidden;

	&.active {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}

	h3 {
		padding-bottom: 24px;
		border-bottom: 1px solid #000;
	}

	ul {
		margin-top: 40px;

		&:not(:last-child) {
			li {
				flex: 0 0 20%;
			}
		}

		&:last-child {
			justify-content: space-between;
			padding-top: 40px;
			border-top: 1px solid #000;
		}
	}

	li {
		img {
			margin-left: 8px;
		}
	}

	a {
		color: #000;
	}
}

.menu-second {
	ul {
		&:last-of-type {
			border-top: 0;
			margin-top: 0;
			padding-top: 30px;
			justify-content: space-between;

			li {
				width: 45%;
				flex: 0 0 45%;
			}

			a {
				height: 48px;

				& + p {
					margin-top: 16px;
				}
			}
		}

		& + p {
			display: block;
			width: 100%;
			padding-top: 40px;
			margin-top: 40px;
			border-top: 1px solid #000;
		}
	}
}

#menu-case-studies {
	ul {
		&:first-of-type {
			flex-wrap: wrap;
			margin-top: 0;

			li {
				min-width: 175px;
				margin-right: 20px;
				margin-top: 40px;
			}

			a {
				white-space: nowrap;
			}
		}
	}
}

#menu-event,
#menu-resource-center {
	ul {
		&:last-of-type {
			li {
				flex-direction: column;
				width: 45%;
				align-items: flex-start;
			}
		}
	}
}