.home-banner {
	padding-top: 23%;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		margin-bottom: 19%;

		@media all and (max-width:991px) {
			text-align: center;
		}

		p {
			@media all and (max-width:991px) {
				justify-content: center;
			}
		}

		h1 {
			margin: 16px 0 24px;
		}

		a {
			margin-top: 52px;
		}
	}

	&__about {
		text-align: center;
		padding-bottom: 90px;

		p {
			margin: 20px auto 40px;
		
			@media all and (min-width:1200px) {
				width: 60%;
			}
		}
	}
}

.home-blog {
	background: $color-grey;
	&__seminar {
		position: relative;

		@media all and (max-width:991px) {
			grid-template-columns: 1fr;
			padding-top: 20px;
		}

		.thumbnail {
			position: absolute;
			right: 0;
		}
	}

	.col-6 {
		position: relative;
	}

	.thumbnail {
		width: 50vw;
		max-width: unset;
		height: 100%;
	}

	.seminar-content {
		@media all and (min-width:1100px) {
			padding-top: 57px;
			padding-left: 75px;
		}

		a {
			margin-top: 57px;
			padding-left: 75px;
			padding-top: 33px;
			padding-bottom: 33px;
			width: 50vw;
			transform: translateX(-75px);
			background-color: $color-secondary;

			@media all and (max-width:991px) {
				width: 100%;
				transform: none;
			}

			img {
				margin-left: 15px;
			}

			&:hover {
				img {
					animation: ltr-2 1s linear infinite;
				}
			}
		}

		h3 {
			margin-top: 8px;
			margin-bottom: 8px;
		}

		
	}

	.seminar-info {
		margin-top: 37px;

		img {
			width: 21px;
			margin-right: 12px;
			object-fit: contain;
		}

		p {
			margin-right: 40px;
			margin-bottom: 9px;
		}
	}

	&__post {
		.post-content {
			@media all and (min-width:992px) {
				padding-top: 57px;
				padding-right: 75px;
				padding-bottom: 70px;
			}
		}

		.thumbnail {
			@media all and (min-width:1200px) {
				position: absolute;
			}

			@media all and (max-width:991px) {
				width: 100%;
			}
		}

		.row {
			@media all and (max-width:991px) {
				flex-direction: column-reverse;
			}
		}

		&:last-of-type {
			.row {
				@media all and (min-width:992px) {
					flex-direction: row-reverse;
				}
			}

			.post-content {
				@media all and (min-width:992px) {
					padding-top: 57px;
					padding-left: 75px;
				}
			}

			.thumbnail {
				right: 0;

				@media all and  (min-width:1101px) and (max-width:1200px) {
					transform: translateX(-23%);
				}

				@media all and (max-width:1100px) {
					transform: translateX(-11%);
				}
			}
		}

		p {
			margin-top: 8px;
			margin-bottom: 40px;
		}
	
		a {
			margin-bottom: 24px;
		}
	}
}

.home-experts {
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;

	h3 {
		margin-bottom: 24px;
	}
}

.home-case-study {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-areas:
		'big s1 s2'
		'big s3 s4';

	@media all and (max-width:991px) {
		padding-left: 10px;
		padding-right: 10px;

		grid-template-columns: 1fr;
		grid-template-areas:
			'big'
			's1'
			's2'
			's3'
			's4';
	}

	article {
		&:nth-child(2) {
			grid-area: s1;
		}

		&:nth-child(3) {
			grid-area: s2;
		}

		&:nth-child(4) {
			grid-area: s3;
		}

		&:nth-child(5) {
			grid-area: s4;
		}

		&:not(:first-child) {
			h2 {
				font-size: 20px;
				@include set-line( 2, 20 );

				@media all and (max-width:1600px) {
					font-size: 16px;
					@include set-line( 3, 16 );
				}
			}

			p {
				@include set-line( 4, 12 );
			}
		}

		&:first-child {
			grid-area: big;
			overflow: hidden;
			position: relative;

			&:before {
				content: '';
				display: block;
				bottom: 0;
				left: 0;
				top: 0;
				right: 0;
				position: absolute;
				background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(99,99,99,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(99,99,99,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(99,99,99,0) 60%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			}

			.entry-content {
				background: none;
			}

			p {
				margin-top: 16px;
				margin-bottom: 24px;
			}
		}
	}

	.thumbnail {
		height: 285px;
		overflow: hidden;

		img {
			height: 100%;
			transition: .5s;
		}
	}

	.thumbnail-big {
		height: 100%;

		@media all and (max-width:991px) {
			height: 305px;
		}

		& + .entry-content {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.entry-content {
		padding: 40px;
		color: #000;
		background: $color-grey;

		@media all and (max-width:991px) {
			padding: 20px;
		}
	}
	
	a {
		&:hover {
			.thumbnail img {
				transform: scale(1.2);
			}
		}
	}
}

.home-service-header {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;

	p {
		margin-top: 16px;
	}
}

.home-service-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4px;

	@media all and (max-width:991px) {
		grid-template-columns: 1fr;
	}

	img {
		height: 290px;
	}

	.entry-content {
		background: $color-grey;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 90px;

		h3 {
			margin: 0 auto;
		}

		p {
			width: 70%;
			margin: 16px auto 40px;
			@include set-line( 3, 14 );
		}

		a {
			justify-content: center;

			img {
				margin-left: 15px;
			}

			&:hover {
				img {
					animation: ltr-2 1s linear infinite;
				}
			}
		}
	}
}

.home-testimonial {
	padding-top: 90px;
	padding-bottom: 90px;
	background: linear-gradient(150deg, #244cb4 0%,#162a73 50%);
	position: relative;

	h2 {
		margin-bottom: 40px;
	}

	.gem-item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media all and (min-width:992px) {
			align-items: center;
		}
	}

	.entry-thumbnail {
		width: 40%;

		@media all and (max-width:991px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.entry-content {
		width: 50%;

		p:first-of-type {
			margin-top: 8px;
			margin-bottom: 30px;
			font-weight: 500;

			@media all and (max-width:991px) {
				margin-bottom: 15px;
			}
		}

		a {
			margin-top: 30px;
		}

		@media all and (max-width:991px) {
			width: 100%;
		}
	}

	.splide__arrow {
		position: absolute;

		&--prev {
			left: -60px;
		}

		&--next {
			right: -60px;
			transform: rotate(180deg);
		}
	}

	.splide__pagination {
		position: absolute;
		bottom: -130px;
		left: 0;
		width: 100%;

		li {
			border: 0;
		}

		button {
			width: 10px;
			height: 10px;
			background: $color-dot;
			outline: none;

			&.is-active {
				background: $color-secondary;
			}
		}
	}
}

.home-contact {
	padding-top: 100px;
	padding-bottom: 90px;

	label {
		span {
			@media all and (max-width:991px) {
				min-width: 100px;
			}
		}
	}

	.gem-form {
		margin-top: 90px;

		@media all and (max-width:991px) {
			margin-top: 30px;
		}
	}

	.col-6 {
		@media all and (min-width:1200px) {
			&:first-of-type {
				padding-right: 70px;
			}

			&:nth-of-type(2) {
				padding-left: 70px;
			}
		}
	}

	.wpcf7-form-control-wrap {
		width: 70%;

		@media all and (max-width:991px) {
			width: 100%;
		}
	}

	textarea {
		width: 100%;
		max-width: 100%;
		height: 94px;
		border: 0;
		outline: none;
	}
}

