.industry-banner {
	height: 100vh;
	display: flex;
	align-items: center;

	a {
		margin-top: 40px;
	}
}

.industry-insight {
	margin-top: 90px;
	margin-bottom: 70px;

	h2 {
		margin-bottom: 24px;
	}

	article {
		margin-bottom: 20px;
	}
}

.industry-case-study {
	padding-bottom: 90px;
	
	h2 {
		margin-bottom: 24px;
	}

	.col-12 {
		display: flex;
		justify-content: center;

		a {
			margin-top: 40px;
		}
	}
}

.industry-offer {
	background: $color-grey;
	padding: 90px 0;

	.col-3 {
		&:first-of-type {
			@media all and (min-width:1200px) {
				padding-right: 40px;
			}

			@media all and (max-width:991px) {
				margin-bottom: 40px;
			}

			p {
				margin-top: 16px;
				margin-bottom: 40px;
			}
		}
	}

	.offer-content {
		background: $color-main;
		position: relative;
		color: #fff;
		padding: 110px 40px;
		min-height: 320px;
		overflow: hidden;

		@media all and (max-width:991px) {
			padding: 40px 20px;
			min-height: unset;
			margin-bottom: 20px;
		}

		h3 {
			margin-bottom: 16px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
			img {
				transform: translateX(-100%);
			}
		}
	}
}

.industry-why-us {
	padding: 90px 0;

	h2 {
		margin-bottom: 24px;
	}

	.why-content {
		background: $color-grey;
		padding: 40px;
		text-align: center;
		border: 1px solid $color-grey;
		transition: .3s;

		&:hover {
			border: 1px solid $color-secondary
		}

		h4 {
			margin: 34px auto 8px;
		}

		img {
			height: 90px;
			object-fit: contain;
		}
	}
}