.news-banner {
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;

	.scroll-notice {
		position: absolute;
		bottom: 9%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.news-items {
	padding: 90px 0;

	article {
		background: $color-grey;
		margin-bottom: 20px;

		&:hover {
			a {
				color: $color-secondary;
			}
		}
	}

	a {
		transition: .3s;

		&:first-of-type {
			color: #000;
		}
	}

	span {
		color: #888;
	}

	.news--big {
		display: flex;

		.entry-thumbnail {
			width: 58%;
			flex: 0 0 58%;
		}

		.entry-content {
			padding-left: 40px;
			padding-right: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		span {
			margin: 24px 0 16px;
		}

		.readmore {
			margin-top: 40px;
		}
	}

	.news--small {
		img {
			height: 280px;
		}

		.entry-content {
			padding: 16px 20px 20px;
		}

		h3 {
			@include set-line( 2, 20 );
			margin: 4px 0;
		}

		p {
			@include set-line( 2, 16 );
		}
	}
}

.posts-pagination {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;

	.page-numbers {
		margin: 0 15px;
		color: #000;

		&.current, &:hover {
			color: $color-secondary;
		}
	}
}

.single-content {
	padding-bottom: 90px;

	article {
		@media all and (min-width:1200px) {
			padding-right: 50px;
		}
	}

	aside {
		@media all and (min-width:1200px) {
			padding-left: 50px;
		}

		h4:first-child {
			margin-bottom: 30px;
		}

		span {
			color: #888;
			margin-bottom: 4px;
			display: block;
		}

		a {
			color: #000;
			display: block;

			&:hover {
				h4 {
					color: $color-secondary;
				}
			}

			span {
				margin-top: 8px;
			}

			img {
				height: 240px;
				width: 100%;
			}

			&:not(:first-of-type) {
				margin-bottom: 16px;
				display: flex;

				img {
					height: 146px;
					width: 50%;
					flex: 0 0 50%;
				}

				.entry-title {
					background: $color-grey;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 12px;
				}

				h4 {
					@include set-line( 3, 20 );
				}
			}

			
		}
	}

	.post-tags {
		margin: 24px 0 16px;
	
		a {
			margin-right: 8px;
			color: $color-secondary;
			transition: .3s;
			
			&:hover {
				color: $color-main;
			}
		}
	}
}

.entry-info {
	color: #888;
	display: flex;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 16px;
	margin-bottom: 30px;
	border-bottom: 1px solid #888;
	font-weight: 500;

	span {
		margin-right: 60px;
	}

	.social-share {
		display: flex;
		align-items: center;

		li {
			list-style: none;
			margin-right: 16px;
		}
	}
}

.event-items {
	padding-top: 90px;
	padding-bottom: 90px;
}

.event-item {
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient( to top, rgba( 0,0,0,.7 ) 0%, rgba( 0,0,0,0 ) 100% );
	}

	.entry-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px;
		z-index: 2;
	}

	h3 {
		@include set-line( 3, 30 );
	}

	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}

.event-info {
	margin-top: 16px;

	& + a {
		margin-top: 46px;
	}

	img {
		width: 21px;
		margin-right: 12px;
	}

	p {
		margin-right: 40px;
		margin-bottom: 9px;
	}
}

.event-single-content {
	padding: 90px 0;

	article {
		@media all and (min-width:1200px) {
			padding-right: 50px;
		}
	}

	aside {
		@media all and (min-width:1200px) {
			padding-left: 50px;
			margin-top: -90px;
		}

		.wpcf7 {
			padding: 40px;
			background: linear-gradient(114.18deg, #244CB4 13.14%, #162A73 95.75%);
		}

		.wpcf7-checkbox label {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 14px;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.wpcf7-checkbox.callback {
			color: #307EED;
			margin-top: -35px;
			margin-bottom: 25px;
			white-space: nowrap;
		}

		h2 + p {
			margin-bottom: 40px;
		}

		.wpcf7-checkbox {
			display: flex;
			flex-direction: column;
			
			input {
				margin-top: 5px;
				margin-right: 8px;
			}

			.wpcf7-list-item {
				margin-left: 0;

				span {
					font-weight: 300;
				}
			}
		}
	}

	.multi-checkbox {
		margin-bottom: 16px;
	}

	label {
		margin-bottom: 30px;
		border-color: #fff;

		&.gem-submit {
			margin-bottom: 0;
		}
	}

	form {
		color: #fff;

		input, textarea {
			background: transparent;
			color: #fff;
		}

		textarea {
			height: 28px;
		}
	}

	h2 {
		margin-bottom: 16px;

		&:not(:first-of-type) {
			margin-top: 40px;
		}
	}

	table {
		width: 100%;
	}

	tr {
		display: flex;
		align-items: flex-start;

		&:last-child {
			border-bottom: 1px solid #888;
		}
	}

	thead {
		tr {
			padding-bottom: 4px;
		}

		th {
			text-align: left;
		}
	}

	tbody {
		tr:nth-child(2n) {
			background: $color-grey;
		}
	}

	td {
		min-height: 92px;
	}

	th, td {
		padding: 20px 30px;

		@media all and (max-width:991px) {
			padding: 20px 8px;
		}
	}
}

.event-guest {
	margin-top: 75px;

	.guest-item {
		margin-top: 40px;
		text-align: center;

		&:hover {
			img {
				filter: grayscale(0);
			}
		}
	}

	h4 {
		margin: 8px auto 4px;
	}

	img {
		filter: grayscale(1);
	}
}