html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.site {
	overflow: hidden;
}

.skip-link {
	display: none;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

h1, h2, h3, h4 {
	font-weight: 500;
}

a,
a:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
}

.gem-slider {
	position: relative;
}

.gem-item {
	animation: fade .3s linear;
}

.gem-arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	display: block;
	width: 20px;
}

.gem-dots {
	display: flex;
	align-items: center;
	justify-content: center;

	.dot {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 12px;
		cursor: pointer;
		background: $color-dot;

		&.active {
			background: $color-secondary;
		}
	}
}

form {
	i {
		font-style: normal;
	}
}

input {
	outline: none;
}