html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.site {
	overflow: hidden;
}

.skip-link {
	display: none;
}

h1, .h1 {
	font-size: 60px;
}

h2, .h2 {
	font-size: 40px;
}

h3, .h3 {
	font-size: 30px;
}

h4, .h4 {
	font-size: 20px;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	font-weight: 500;
}

a,
a:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	transition: .5s;
}

.gem-slider {
	position: relative;
}

.gem-item {
	animation: fade .3s linear;
}

.gem-arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	display: block;
	width: 20px;
}

.scroll-notice {
	display: block;
	text-align: center;
}

.gem-dots {
	display: flex;
	align-items: center;
	justify-content: center;

	.dot {
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 12px;
		cursor: pointer;
		background: $color-dot;

		&.active {
			background: $color-secondary;
		}
	}
}

.gem-form {
	label {
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 68px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 8px;
		border-bottom: 1px solid #000;
		font-size: 16px;
	}

	.wpcf7-form-control-wrap {
		width: 70%;
	}

	input[type=text],
	input[type=email],
	input[type=tel] {
		border: 0;
		width: 100%;
		height: 100%;
	}

	.your-message {
		flex: 0 0 100%;
		width: 100%;
	}
}

textarea {
	border: 0;
}

form {
	i {
		font-style: normal;
	}
}

input {
	outline: none;
}

.readmore {
	img {
		margin-left: 15px;
	}

	&:hover {
		img {
			animation: ltr-2 1s linear infinite;
		}
	}
}